@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    font-size: 250%;
    float: left;
}

/* nav bar */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 40px;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    color: grey;
}

#menu, #logo {
    line-height: 100px;
}

/*hero image */

#hero-outer {
    width: 100%;
    height: 900px;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 900px;
    background: url(../images/heroimage1-2800x1801.jpg) no-repeat center center;
    background-position: top;
}