@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2, h3 {
    font-family: 'Merienda One', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 130%;
}

h2 {
    font-size: 200%;
}

#logo {
    font-size: 250%;
    float: left;
    margin-left: 40px;
}

/* nav bar */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 40px;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    color: darkgray;
}

#menu, #logo {
    line-height: 100px;
}

/* hero image */

#hero-outer {
    width: 100%;
    height: 900px;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 900px;
    background: url(../images/heroimage1-2800x1801.jpg) no-repeat center center;
    background-position: top;
}

/* main section/discover  */

#discover {
    background-color: #E5FFCC;
    height: 1100px;
    width: 100%;
}

#discover h3 {
    padding-bottom: 25px;
}

#discover-switzerland-header {
    margin: 0 auto;
    text-align: center;
    padding: 75px 0px;
}

.discover-switzerland-outer {
    width: 33%;
    text-align: center;
    display: inline-block;
}

.discover-switzerland-text {
    margin: 0px 100px;
}

#our-hiking-tours-header {
    margin: 0 auto;
    text-align: center;
    padding: 75px 0px;
}

.our-hiking-tours-list-and-table {
    width: 25%;
    text-align: center;
    display: inline;
    
}

#header-table {
    padding-top: 25px;
}

.our-hiking-tours-list-and-table li {
    margin-bottom: 10px;
}

.our-hiking-tours-list-and-table table, .our-hiking-tours-list-and-table th, .our-hiking-tours-list-and-table td {
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    border-collapse: collapse;
}

/* join us section */

#join {
    height: 600px;
    width: 100%;
}

#join h2 {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    padding: 75px 0;
}

/* form */

#joinform {
    max-width: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#joindiv {
    display: block;
    text-align: center;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 25px;
    border: 1px solid black;
    border-radius: 3px;
}

#join-button {
    text-align: center;
    background-color: white;
    border-radius: 3px;
    transform: scale(1.5);
    padding: 5px 10px;
    transition-duration: 0.4s;
    border: solid 2px black;
    margin-top: 25px;
}

#join-button:hover {
    background-color: black;
    color: white;
}

/* footer or contact section */

footer {
    height: 350px;
    background-color: #E5FFCC;
    text-align: center;
}

footer h2 {
    padding: 75px 0 50px 0;
}

footer h3 {
    padding-bottom: 25px;
}

footer p {
    padding-bottom: 25px;
}

#icons li {
    font-size: 250%;
    color: red;
    display: inline;
    padding: 20px;
}

